form {
    width: 100%;
    min-height: 80%;
    .field {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      background-color: seashell;
      border: 2px solid black;
      border-radius: 10px;
      margin: 12px;
      padding: 8px 8px;
      text-align: center;
      overflow: hidden;
      
      &.error {
        input {
          border: 2px solid red;
        }
      }

      label {
        width: 70px;
        font-size: 16px;
      }
      input {
        border-radius: 5px;
        border: 2px solid grey;
        flex: 1;
        font-size: 16px;
        margin-right: 5px;
        line-height: 25px;
        padding: 2px;
        outline: none;
      }
      span {
        margin: 3px 3px;
        font-size: 16px;
        color: red;
      }
    }
    
  
    .buttons {
        
      text-align: center;
      button {
        border: none;
        border-radius: 10px;
        background-color: #111;
        color: azure;
        padding: 12px 24px;
        font-size: 20px;
        cursor: pointer;
        margin: 0.5rem .7rem 0.5rem 1rem;
        transition: all 0.32s ease;
      }
      
      .applyBtn, .editBtn  {
        &:hover {
          box-shadow: 0px 0px 15px greenyellow;
          color: greenyellow;
        }
      }
      .cancelBtn {
        &:hover {
          box-shadow: 0px 0px 15px orangered;
          color: orangered;
        }
      }
      .deleteBtn {
          &:hover {
            box-shadow: 0px 0px 15px red;
            color: red;
          }
      }
    }
  
}
